<!doctype html>
{% load static %}

<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Education | Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.html">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'media/img/logo/loder.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
                <!-- Left Social -->
<!--                <div class="header-left-social">-->
<!--                    <ul class="header-social">-->
<!--                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--                        <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>-->
<!--                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>-->
<!--                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="container">-->
<!--                    <div class="col-xl-12">-->
<!--                        <div class="row d-flex justify-content-between align-items-center">-->
<!--                            <div class="header-info-left">-->
<!--                                <ul>-->
<!--                                    <li><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection"-->
<!--                                           class="__cf_email__" data-cfemail="69070c0c0d010c0519290e04080005470a0604">[email&#160;protected]</a>-->
<!--                                    </li>-->
<!--                                    <li>buxoromaktabi13@gmail.com</li>-->
<!--                                    <li>+998 93 857 66 66 </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <div class="header-info-right">-->
<!--                                &lt;!&ndash;                                <ul>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <li><a href="#"><i class="ti-user"></i>Login</a></li>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                    <li><a href="#"><i class="ti-lock"></i>Register</a></li>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </ul>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div class="header-bottom header-sticky">
                <!-- Logo -->
<!--                <div class="logo d-none d-lg-block">-->
<!--                    <a href="index-2.html"><<img src="{% static 'img/logo/logo.png' %}" alt="">-->
<!--                        ></a>-->
<!--                </div>-->
                <div class="container" >
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo logo2 d-block d-lg-none">
                            <a href="index-2.html"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block" >
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/">Asosiy menyu</a></li>
                                    <li><a href="/about/">Biz haqimizda</a></li>
                                    <li><a href="/courses/">Oʻquv kurslari</a></li>
                                    <li><a href="/instructors/">Ustozlarimiz</a></li>
                                    <li><a href="/news/">Yangiliklar</a>
                                        <!--                                        <ul class="submenu">-->
                                        <!--                                            <li><a href="blog.html">Blog</a></li>-->
                                        <!--                                            <li><a href="blog_details.html">Blog Details</a></li>-->
                                        <!--                                            <li><a href="elements.html">Element</a></li>-->
                                        <!--                                        </ul>-->
                                    </li>
                                    <li><a href="/contact/">Bog'lanish</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header-btn -->
                        <div class="header-search d-none d-lg-block">
                            <form action="#" class="form-box f-right ">
                                <!--                                <input type="text" name="Search" placeholder="Search Courses">-->
                                <!--                                <div class="search-icon">-->
                                <!--                                    <i class="fas fa-search special-tag"></i>-->
                                <!--                                </div>-->
                            </form>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

{% block content %}


{% endblock %}

<footer>
    <!--? Footer Start-->
    <!--    <div class="footer-area footer-bg">-->
    <!--        <div class="container">-->
    <!--            <div class="footer-top footer-padding">-->
    <!--                &lt;!&ndash; footer Heading &ndash;&gt;-->
    <!--                <div class="footer-heading">-->
    <!--                    <div class="row justify-content-between">-->
    <!--                        <div class="col-xl-6 col-lg-7 col-md-10">-->
    <!--                            <div class="footer-tittle2">-->
    <!--                                <h4>Stay Updated</h4>-->
    <!--                            </div>-->
    <!--                            &lt;!&ndash; Form &ndash;&gt;-->
    <!--                            <div class="footer-form mb-50">-->
    <!--                                <div id="mc_embed_signup">-->
    <!--                                    <form target="_blank"-->
    <!--                                          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"-->
    <!--                                          method="get" class="subscribe_form relative mail_part" novalidate="true">-->
    <!--                                        <input type="email" name="EMAIL" id="newsletter-form-email"-->
    <!--                                               placeholder=" Email Address " class="placeholder hide-on-focus"-->
    <!--                                               onfocus="this.placeholder = ''"-->
    <!--                                               onblur="this.placeholder = 'Your email address'">-->
    <!--                                        <div class="form-icon">-->
    <!--                                            <button type="submit" name="submit" id="newsletter-submit"-->
    <!--                                                    class="email_icon newsletter-submit button-contactForm">-->
    <!--                                                Subscribe Now-->
    <!--                                            </button>-->
    <!--                                        </div>-->
    <!--                                        <div class="mt-10 info"></div>-->
    <!--                                    </form>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="col-xl-5 col-lg-5">-->
    <!--                            <div class="footer-tittle2">-->
    <!--                                <h4>Let’s Get Social</h4>-->
    <!--                            </div>-->
    <!--                            &lt;!&ndash; Footer Social &ndash;&gt;-->
    <!--                            <div class="footer-social">-->
    <!--                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>-->
    <!--                                <a href="#"><i class="fab fa-twitter"></i></a>-->
    <!--                                <a href="#"><i class="fab fa-google"></i></a>-->
    <!--                                <a href="#"><i class="fab fa-instagram"></i></a>-->
    <!--                                <a href="#"><i class="fab fa-youtube"></i></a>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; Footer Menu &ndash;&gt;-->
    <!--                <div class="row d-flex justify-content-between">-->
    <!--                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">-->
    <!--                        <div class="single-footer-caption mb-50">-->
    <!--                            <div class="footer-tittle">-->
    <!--                                <h4>About Us</h4>-->
    <!--                                <ul>-->
    <!--                                    <li><a href="#">Online Learning</a></li>-->
    <!--                                    <li><a href="#">About Us</a></li>-->
    <!--                                    <li><a href="#">Careers</a></li>-->
    <!--                                    <li><a href="#">Press Center</a></li>-->
    <!--                                    <li><a href="#">Become an Instructor</a></li>-->
    <!--                                </ul>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">-->
    <!--                        <div class="single-footer-caption mb-50">-->
    <!--                            <div class="footer-tittle">-->
    <!--                                <h4>Campus</h4>-->
    <!--                                <ul>-->
    <!--                                    <li><a href="#">Our Plans</a></li>-->
    <!--                                    <li><a href="#">Free Trial</a></li>-->
    <!--                                    <li><a href="#">Academic Solutions</a></li>-->
    <!--                                    <li><a href="#">Business Solutions</a></li>-->
    <!--                                    <li><a href="#"> Government Solutions</a></li>-->
    <!--                                </ul>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">-->
    <!--                        <div class="single-footer-caption mb-50">-->
    <!--                            <div class="footer-tittle">-->
    <!--                                <h4>Study</h4>-->
    <!--                                <ul>-->
    <!--                                    <li><a href="#">Admissions Policy</a></li>-->
    <!--                                    <li><a href="#">Getting Started</a></li>-->
    <!--                                    <li><a href="#">Online Application</a></li>-->
    <!--                                    <li><a href="#">Visa Information</a></li>-->
    <!--                                    <li><a href="#">Tuition Calculator</a></li>-->
    <!--                                </ul>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">-->
    <!--                        <div class="single-footer-caption mb-50">-->
    <!--                            <div class="footer-tittle">-->
    <!--                                <h4>Spport</h4>-->
    <!--                                <ul>-->
    <!--                                    <li><a href="#">Support</a></li>-->
    <!--                                    <li><a href="#">Contact Us</a></li>-->
    <!--                                    <li><a href="#">System Requirements</a></li>-->
    <!--                                    <li><a href="#">Register Activation Key</a></li>-->
    <!--                                    <li><a href="#">Site feedback</a></li>-->
    <!--                                </ul>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            &lt;!&ndash; Footer Bottom &ndash;&gt;-->
    <!--            <div class="footer-bottom">-->
    <!--                <div class="row d-flex align-items-center">-->
    <!--                    <div class="col-lg-12">-->
    <!--                        <div class="footer-copy-right text-center">-->
    <!--                            <p>&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
    <!--                                Copyright &copy;<script data-cfasync="false"-->
    <!--                                                        src="https://preview.colorlib.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>-->
    <!--                                <script>document.write(new Date().getFullYear());</script>-->
    <!--                                All rights reserved | This template is made with <i class="fa fa-heart"-->
    <!--                                                                                    aria-hidden="true"></i> by <a-->
    <!--                                        href="https://colorlib.com/" target="_blank">Colorlib</a>-->
    <!--                                &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
    <!--                            </p>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/gijgo.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon='{"rayId":"916e003799dbbe5b","version":"2025.1.0","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"cd0b4b3a733644fc843ef0b185f98241","b":1}'
        crossorigin="anonymous"></script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/onlineedu/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 24 Feb 2025 08:15:16 GMT -->
</html>